.tabClass {
  background: grey;
  color: aliceblue;
  border-radius: 10px;
  margin-left: 5px;
}

.tabClass:hover {
  color: #4b6cc1;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #4b6cc1 !important;
}
