@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: "Pacifico", sans-serif;
  background-color: #ffa69e;
  //background-image: url("https://img5.goodfon.com/wallpaper/nbig/8/cc/4k-ultra-hd-background-mountains-peaks-sky-clouds-snowy-land.jpg"); //linear-gradient(90deg, #14557b, #7fcec5);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
