@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: "Pacifico", sans-serif;
  background: linear-gradient(to top, #2f2f2f 96%, #393939 100%);
  width: 100vw;
  height: 100vh;
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
